body {
	margin: 0;
	padding: 0;
	font-family: 'Courgette', cursive;
	color: #666;
	/*background: #FFFAF0;*/
}

header {
	/*padding: 1px 60px;*/
	box-sizing: border-box;
	background: rgba(0, 0, 0, .8);
}

header h1 {
	text-align: right;
	font-family: 'Courgette', cursive;
	letter-spacing: 8px;
	color: #f00;
	font-size: 30px;
	padding: 5px 50px;
	margin: 0;
}

nav {
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, .8);
	border-top: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	position: sticky;
	top: 0px;
	z-index: 99;
}

nav ul {
	display: flex;
	margin: 0;
	float: right;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	color: white;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-family: sans-serif;
}

#logoutBtn {
	outline: none;
	background: none;
	border: none;
	display: block;
	color: white;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-family: sans-serif;
}

#logoutBtn:hover {
	background: white;
	color: #f00;
	transition: 0.6s;
}

#loginBtn {
	outline: none;
	background: none;
	border: none;
	display: block;
	color: white;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-family: sans-serif;
}

#loginBtn:hover {
	background: white;
	color: #f00;
	transition: 0.6s;
}

nav ul li a:hover {
	background: white;
	display: block;
	color: #f00;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-family: sans-serif;
	transition: 0.6s;
}

nav ul li a.activern {
	display: block;
	color: #f00;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	font-family: sans-serif;
}

section {
	/*text-align: center;*/
	padding: 50px 0;
}

.members {
	width: 100%;
	text-align: center;
	/*opacity: 1;*/
	/* position: absolute; */
	/*background-color: #282e34*/
	;
	background-color: #282e34;
	color: #ddd;
	font-family: 'Courgette', cursive;
	/* top: 672px; */
}

.members h1 {
	font-family: 'Julee', cursive;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 40px;
}

.members h1 span {
	border-bottom: 1px solid #ddd;
	padding-bottom: 0;
}

.members .container {
	background-color: rgba(112, 108, 97, 0.7);
}

form input[type="submit"] {
	margin-bottom: 20px;
}

footer {
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	color: #ddd;
	width: 100%;
}

footer .container {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.footerspan {
	border-bottom: 3px solid;
}

footer p#copyright {
	text-align: left;
	font-size: 10px;
	margin: auto;
}